<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)='goToHome()'>Home</button>
          <button mat-menu-item (click)='goToOpportunity()'>Oppurtunity Management</button>
          <button mat-menu-item (click)='goToTrends()'>Trends</button>
        </mat-menu>
      <h1>AU Management System</h1>
      <span class="menu-spacer"></span>
      <!-- <div>
        <a mat-button [routerLink]="'/accounts'"> Accounts </a>
        <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a>
        <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
  
      </div> -->
      <div style="margin-left: 800px" *ngIf="this.router.url!='/'" >
        <button mat-raised-button (click)="signOut()" color="success">Log out</button>
      </div>
    </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row> -->
  </mat-toolbar>