<h2 mat-dialog-title> Creating Opportunity</h2>
<mat-grid-list cols="2" rowHeight="80px" >
  <mat-grid-tile>
  <mat-form-field appearance="outline"  >
    <mat-label>Opportunity Title</mat-label>
    <input matInput [(ngModel)]="oppName" required ="required" >
    <mat-error>This field is mandatory</mat-error>
  </mat-form-field>
</mat-grid-tile>
  <mat-grid-tile>
  <mat-form-field appearance="outline" >
    <mat-label>Location</mat-label>
    <input matInput [(ngModel)]="location" required>
    <mat-error>This field is mandatory</mat-error>
  </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline" >
    <mat-label>Manager</mat-label>
    <input matInput [(ngModel)]="manager"required >
    <mat-error>This field is mandatory</mat-error>
  </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline" >
    <mat-label>Creator</mat-label>
    <input matInput [(ngModel)]="oppCreator" required>
    <mat-error>This field is mandatory</mat-error>
  </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline" >
    <mat-label>Creator Email</mat-label>
    <input matInput [(ngModel)]="oppEmail" required>
    <mat-error>This field is mandatory</mat-error>
  </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline" >
    <mat-label>Skills</mat-label>
    <input matInput [(ngModel)]="skills" required>
    <mat-error>This field is mandatory</mat-error>
  </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline" >
    <mat-label>Experience</mat-label>
    <input matInput type="number"  [(ngModel)]="expInYrs" required>
    <mat-error>This field is mandatory</mat-error>
  </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
<mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color='success' routerLink="opportunity" type ="submit" (click)="createOpportunity()">Create</button>
</mat-dialog-actions>
</mat-grid-tile>
</mat-grid-list>
